# joomla
/administrator/.htaccess
/configuration.php
#
# /administrator/backups/
# /administrator/cache/
# /cache/
# /images/
# /logs/
# /tmp/

# tmp, archives
*.log
*.tmp
*.zip
*.tar
*.tgz
*.tar.gz
*.rar

# media files
*.mp3
*.ogg
*.flac
*.ogv
*.avi
*.mp4
*.flv
*.mov

# docs
*.pdf
*.ppt
*.doc
*.rtf
*.xls
*.docx
*.xlsx

# custom
/_backup/
/.idea/
/nbproject/
/download/
/files/
/plesk-stat/
/changes-filelist.txt
/environment
/*.sh
/*.sql
